<div class="pt-20 sm:pl-48 md:pl-52 lg:pl-60 xl:pl-64">
  <div class="px-4 py-2 bg-white border-b">
    <h1 class="text-xl font-bold">Trainings</h1>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4 w-full max-w-6xl mx-auto">
    <div class="relative bg-white p-4 border rounded-lg shadow-lg cursor-pointer">
      <img
        src="/images/trainings.jpg"
        alt="Tutorial 1"
        class="w-full h-64 object-cover rounded-lg"
      />
      <div class="absolute inset-0 flex justify-center items-center">
        <i class="material-icons text-white text-6xl">play_circle_filled</i>
      </div>
      <h2 class="text-lg font-bold pt-2">Tutorial 1</h2>
    </div>

    <div class="relative bg-white p-4 border rounded-lg shadow-lg cursor-pointer">
      <img
        src="/images/trainings.jpg"
        alt="Tutorial 2"
        class="w-full h-64 object-cover rounded-lg"
      />
      <div class="absolute inset-0 flex justify-center items-center">
        <i class="material-icons text-white text-6xl">play_circle_filled</i>
      </div>
      <h2 class="text-lg font-bold pt-2">Tutorial 2</h2>
    </div>
  </div>
</div>
