.card-container{
  background-color: #FFF;
  border-radius: 15px;
}
.mdc-card__actions {
  justify-content: flex-end;
  padding: 0;
  height: 100%;
  align-items: flex-end;
}

.card-img {
  max-height: 200px;
  width: 100%;

}

.custom-card-actions {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
  }
}
